<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chijian.coolweather.app"
    android:versionCode="3"
    android:versionName="1.0.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.GET_TASKS" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="chijian.coolweather.app.start.SplashActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="chijian.coolweather.app.start.GuideActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name="chijian.coolweather.app.activity.ChooseAreaActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:screenOrientation="portrait"/>
		<activity
            android:name="chijian.coolweather.app.activity.WeatherActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:screenOrientation="portrait"/>
		<receiver 
            android:name="chijian.coolweather.app.receiver.AutoUpdateReceiver"
            ></receiver>
        <service 
            android:name="chijian.coolweather.app.service.AutoUpdateService"
            ></service>
        
<meta-data 
    android:value="5814adc4e88bad4bd2000aca" 
    android:name="UMENG_APPKEY">
</meta-data>

<meta-data 
    android:value="tenxunyingyong"
    android:name="UMENG_CHANNEL"/>

    </application>
</manifest>
